.main-container{
    padding: 60px;
}
.main-container--section{
    display: flex;
    width: auto;
    min-width: none;
    max-width: none;
    height: 60vh;
    margin-left: 50px;
}
.principal-div{
    width: 850px;
    margin-top: 0px;
    text-align: left;
    margin-right: 100px;
}
.principal-div .principal-div--title{
    font-size: 3.6rem;
    
}
.stars-section{
    max-width: 80%;
    min-width: 40%;
    margin-top: 0;
    align-self: center;
}


.stars-section .stars-section--div{
    width: 80%;
    padding: 12px; 
}

